@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "gobold1";
    src: url(gobold1.ttf);
}
.gobold1 { 
    font-family: "gobold1";
}

#icon {
}

body {
  background: url(img/Background.png) top no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left:0;
  margin-right:0;
  width:100%;
  

}

#header {
	background: url(img/header1.png) repeat-x center center ;
	max-width:100%;
	min-width:800px;
	height:110px;
	margin-bottom:-5px;
}
#header img {
}

#line {
	width:800px;
	height:20px; 
	margin-left: auto; 
	margin-right: auto;
	
	}
	

#recent {
	
	width:800px;
	height:20px;
	margin-left:auto;
  	margin-right:auto;
	text-align:center;
	font-family:"gobold1";
	font-size:125%;
	margin-bottom:-20px;
	
	}


#works {
	width:100%;
	min-width:800px;
	margin-top:-130px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	height:640px;
	background: url(img/woodenstrings2.png) no-repeat center center;
	padding-top: 75px;	
}
		#works img {
			float:left;
			margin: 10px 10px 10px 10px;
			position:relative;
			left:50px;
			
		}
		
		#woorks {
			width:800px;;
			margin-top:130px;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
		}
		
	
		
#line2 {
	
	width:800px;
	height:20px; 
	margin-left: auto; 
	margin-right: auto;
}

#aboutme {

	width:800px;
	height:20px;
	margin-left:auto;
  	margin-right:auto;
	text-align:center;
	font-family:"gobold1";
	font-size:125%;
	
}

#about {
	width:800px;
	height:120px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
  	margin-right:auto;
  	
}
.img {
	
	float:left;
	margin-top:0px;
	margin-left:25px;
}


.description {
	height:20px;
	margin-top:10px;
	margin-left:20px;
	font-size:85%;
	text-align:center;
	width:600px;
	float:left;
}


#line3 {
	
	width:800px;
	height:20px; 
	margin-left: auto; 
	margin-right: auto;
	margin-top:-30px;
	
}


#contacts {

	width:800px;
	height:20px;
	margin-left:auto;
  	margin-right:auto;
	text-align:center;
	font-family:"gobold1";
	font-size:125%;
	margin-bottom:30px;
			
}

#contactinfo {
	
	
	text-align:center;
	width:800px;
	height:20px;
	margin-left:auto;
  	margin-right:auto;
	font-size:85%;
	margin-bottom:30px;

}


#contactinfo img {
	margin-top:-5px;		
	margin-bottom:-5px;
}

#footer {
	
	background: url(img/footer2.png) repeat-x center center;
	width:100%;
	min-width:1024px;
	height:30px;
	margin-top:25px;
	margin-bottom:-30px;
	
	
	}
	
	#footer1 {
	font-family:"Oriya Sangam MN";
	text-align:center;
	font-size:9px;
	color:white; 
		}
	
